.post.draggable(id= '#{id}', style='position:fixed; top:#{top};left:#{left}')
 .header(style='background-color:#{bgColor}')
   img.postImg(src='#{url}')
   span.title #{title}
   input(type='text')
 .body
   span.postbody #{body}
   textarea.me
 input(type='submit')
