.post.draggable(data-id= '#{tagid}', style='position:fixed; top:#{top};left:#{left}')
 .header(style='background-color:#{bgColor}')
   img.postImg(src='#{url}')
   span.title #{title}
 .body
   span.postbody #{body}
   textarea.me
 input(type='submit')
