.post.draggable(id= '#{id}', style='position: absolute; top:#{top};left:#{left}')
 .header(style='background-color:#{bgColor}')
   span.title #{title}
   input(type='text')
 .body 
   span.postbody #{body}
   textarea.me 
 input(type='submit')
